*{ 
padding:0; 
margin:0;
box-sizing:border-box
}
html , body {
width:100%;
height:100%;
overflow: hidden;
}


main {
  height: 100vh;
  width: 100vw;
  background: black;
  .webgl {
    height: 100%;
    width: 100%;
  }
}